.container {
    width: 100%;                    /* fill available space */
    padding-right: (--size-xs);     /* oustide spacing next to */
    padding-left: (--size-xs);      /* oustide spacing next to */
    margin-left: auto;              /* automatic centering where applicable */
    margin-right: auto;             /* automatic centering where applicable */
}