

/* page header bar */
header {
    display: flex;                                          /* display items one next to another */
    flex-direction: column;                                 /* use vertical layout for small devices */
    gap: var(--size-xl);                                    /* horizontal spacing between child elements */
    margin-bottom: var(--size-m);                           /* space out the header from the content */ 
    justify-content: space-between;                         /* clear the middle, tuck content in the corners */
    border-bottom: 4px ridge var(--color-primary);          /* thick bottom border to emphasize the header's presence */ 

    @include media(tabletAndUp) {
        flex-wrap: wrap;                                    /* ? */
        flex-direction: row;                                /* larger devices can view the header as a banner */ 
        margin-bottom: var(--size-l);                       /* space out the header from the content */ 
    }
}

/* header navigation section  */
header nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(tabletAndUp) {
        flex-direction: row;
    }
}

/* page header bar links */ 
header a {
    text-decoration: none;                                  /* underlined links in header are ugly */
    text-transform: uppercase;                              /* make these interactive features pop out by using caps */
}

/* links within a header's navigational section */ 
header nav a {
    padding: var(--size-xs);                                /* smaller padding on mobile */

    @include media(tabletAndUp) {
        padding: var(--size-m);                             /* larger padding */
        margin: var(--size-s) var(--size-m);                /* external spacing between links */ 
    }
}

/* hover on header's nav links */ 
header nav a:hover {
    background: var(--color-primary-sheen);                 /* subtle shading */
}