

/* page header bar */
header {
    display: flex;                                          /* display from left-to right */
    flex-wrap: wrap;                                        /*  */
    gap: var(--size-xl);                                    /* horizontal spacing between child elements */
    justify-content: space-between;                         /* clear the middle, tuck content in the corners */
    border-bottom: 4px ridge var(--color-primary);          /* thick bottom border to emphasize the header's presence */ 
}

/* page header bar links */ 
header a {
    text-decoration: none;                                  /* underlined links in header are ugly */
    text-transform: uppercase;                              /* make these interactive features pop out by using caps */
}

.header-nav a {
    display: inline-block;
    width: calc(5 * var(--size-xxxl));
    border-radius: 0;
    margin-left: var(--size-xxxl);
    border-left: solid 4px var(--color-primary-darker);
    border-right: solid 4px var(--color-primary-darker);
    padding: var(--size-xxl) var(--size-xl);
}

.header-nav a:hover {
    background: var(--color-primary-sheen);
    border-left-color: var(--color-primary-dark);
    border-right-color: var(--color-primary-dark);
}

.list__header {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-s);
    justify-content: space-between;
    margin-top: var(--size-m);
    margin-bottom: var(--size-l);
}