/*! should be on basic <form> tag, so any form uses this */
.form {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    gap: var(--size-xs);
    accent-color: var(--color-primary-dark);

    @include media(tabletAndUp) {
        align-content: center;
    }

    /* form section holds many loosely related input or input groups */
    &__section {
        display: flex;
        flex-direction: column;
    }

    /* form group holds a few tightly related inputs */ 
    &__group {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        margin: var(--size-m);

        @include media(tabletAndUp) {
            flex-direction: row;
            margin: var(--size-s);
        }
    }

    /* checkboxes need to be displayed with their label to the side */
    &__checkbox {
        display: flex;
        flex-direction: row;
        justify-content: left;
        column-gap: var(--size-s);
        margin-left: var(--size-l);
    }

    /* form header labels */
    &__header {
        text-align: center;                 /* center the header label on mobile */
        margin-top: var(--size-m);
        margin-bottom: var(--size-l);
        @include media(tabletAndUp) {
            text-align: left;               /* because eyes go there first on large screens */
        }
    }

    &__actions {
        /* used */
    }

    .field {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        margin: var(--size-m) var(--size-l);

        @include media(tabletAndUp) {
            align-items: flex-start;
        }
    }

    select {
        padding: var(--size-s);                 /* make it easier to tap on */
        margin: var(--size-m);                  /* fat-finger proof */
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        &:after {
            content: "$";
        }
    }

}

.monetary-picker::after {
    content: "$";

}   