/*! should be on basic <form> tag, so any form uses this */
.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: var(--size-xs);

    /* form section holds many loosely related input or input groups */
    &__section {
        display: flex;
        flex-direction: column;
    }

    /* form group holds a few tightly related inputs - must fit in 1 line on a phone */ 
    &__group {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-between;
    }

    /* checkboxes need to be displayed with their label to the side */
    &__checkbox {
        display: flex;
        flex-direction: row;
        justify-content: left;
        column-gap: var(--size-s);
        margin-left: var(--size-l);
    }

    /* form header labels */
    &__header {
        text-align: left;
    }

    /*(!) not used... form__input on each input...  */
    /*
    &__input {
        display: block;
        width: 100%;
        max-width: 100%;
        padding: var(--size-xs);
        border: solid var(--thin-border-width) var(--color-primary-darkest);
        outline: none;
        transition: box-shadow var(--quick-duration);

        &:focus {
            box-shadow: 0 0 0 2px var(--color-sheen);
        }

        &--invalid {
            border-color: var(--color-error);
        }
    }*/

    &__actions {

    }

    .field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: var(--size-m) var(--size-l);
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        &:after {
            content: "$";
        }
    }

}


.monetary-picker::after {
    content: "$";

}   