/* a simple form that lets users input an action mainly through the use of buttons */
.menu {
    margin: auto;                                       /* center the menu horizontally */
    display: flex;                                      /* for an elegant vertical-layout */
    flex-direction: column;                             /* vertical layout */
    align-items: stretch;                               /* maximize content size for easy clicking */
    width: 100%;                                        /* maximize content size for easy clicking */
    padding: var(--size-xxxl);                          /* maximum padding for maximum emphasis on content */
    font-size: 2rem;
}

.menu a {
    margin-bottom: var(--size-m);                       /* gap between each button */
    width: 100%;                                        /* fill in whatever space is available */ 
}

/* menu buttons appear as links */
.menu a,
.action-bar a {
    text-decoration: none;                              /* remove the underline */ 
    border-width: var(--thick-border-width);            /* border to turn the links into buttons, thick for added texture */
    border-style: var(--button-border-style-depressed); /* appear as button */
    border-color: var(--color-secondary-white);         /* use interactive color so as not to mesh with background */
    padding: var(--size-xxl);                           /* bit of padding to let buttons breathe */
}

/* on menu button hover */
.menu a:hover,
.action-bar a:hover {
    background: var(--color-secondary-dark);            /* invert colors to highlight */
    color: var(--color-white);                          /* use raw white for maximum contrast */
}

/* on a menu button click */
.menu a:active,
.action-bar a:active {
    border-style: var(--button-border-style-pressed);   /* appear as pressed button */
    background: var(--color-accent-darker);             /* use different color for additional highlight */
}