.section__actions {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(tabletAndUp) {
        flex-direction: row;
        justify-items: start;
    }
}

.section__form {
    margin: var(--size-m);
}